html, body {
    height: 100%;
    width: 100%;
    font-size: 25px;
    margin: 0;
    text-align: center;
    margin: 0 auto;
}

body.working {
    cursor: progress;
}

h2 {
    font-weight: 500;
    padding-top: 15%;
}

.btn {
    width: 250px;
    height: 50px;
    -moz-border-radius: 15px;
    color: #fff;
    border-style: none;
    background-color: rgb(255, 97, 83);
    font-size: 15px;
    padding: 5px 15px 8.5px;
}

.btn.btn-sign {
    width: 50px;
    height: 50px;
    margin-left: -50px;
}

.cd-fixed-bg {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}


.cd-fixed-bg.cd-bg-1 {
    background-image: url("../img/welcome.jpg");
}

.cd-fixed-bg.cd-bg-2 {
    background-image: url("../img/2.jpg");
}

.cd-fixed-bg.cd-bg-3 {
    background-image: url("../img/3.jpg");
}

.cd-scrolling-bg {
    position: relative;
    min-height: 100%;
    padding: 1em 0;
    line-height: 1.6;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.cd-scrolling-bg.cd-color-1 {
    background-color: rgb(229, 229, 220);
}

.cd-scrolling-bg.cd-color-2 {
    background-color: #f9f4ed;
}

.cd-scrolling-bg.cd-color-3 {
    background-color: #FFEEED;
}

.form-element {
    display: table;
    text-align: center;
}

.form-element div {
    display: table-row;
}

.form-element label {
    display: table-cell;
    text-align: right;
    width: 250px;
}

.form-element div input[type='text'] {
    display: table-cell;
    width: 700px;
    height: 50px;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 2px solid #000;
    text-align: center;
}

.radiowrapper {
    width: 70%;
    margin: 20px auto;
}

#welcome-div {
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #fff;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    /*margin-top: 150px;*/
    margin-bottom: -60px;
}

#welcome-div h2 {
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 2.3em;
    font-weight: lighter;
    margin-top: 0px;
}

#welcome-div h3 {
    font-size: 0.8em;
    font-weight: lighter;
    margin-bottom: 62px;
    color: #E2D6D3;
}

#authorize-div {
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    color: #fff;
}

#address-div {
    width: 100%;
    padding-bottom: 10%;
}

.bright-font {
    color: whitesmoke;
}

#source-div {
    width: 100%;
    padding-bottom: 10%;

}

#source-div h2 {
    padding-top: 15%;
    font-weight: lighter;
    color: #ffffff;
    margin-top: 0px;
}

input[type='radio'] {
    margin-left: 30px;
}

#nextButton {
    width: 200px;
    font-size: 20px;
    margin: 0 auto;
    /*margin-top: 30px;*/
}

#download-content {
    text-align: left;
    font-weight: lighter;
}

#download-content a:link {
    color: rgb(255, 97, 83);

}

#download-content a:visited {
    color: rgb(255, 97, 83);
}

#download-content li {
    margin-left: 6%;
    margin-right: 6%;
    padding-bottom: 20px;
}

#upload-div {
    width: 100%;

    padding-bottom: 10%;

}

#upload-div h2 {
    font-weight: lighter;
    padding-top: 15%;
    color: #ffffff;
    margin-top: 0px;

}

#upload-div p {
    color: #E2D6D3;
    font-size: 1em;
}

#uploadingData-div h2 {
    padding-top: 10%;
    font-weight: lighter;

}

#calendar-div h2 {
    padding-top: 10%;
    font-weight: lighter;
}

#file {
    background-color: rgb(176, 176, 176);
    width: 230px;
    margin-top: 10px;
}

.addMargin h2 {
    font-weight: lighter;
}

.btn:hover {
    background-image: -webkit-linear-gradient(top, rgb(255, 97, 83), rgb(255, 97, 83));
    background-image: -moz-linear-gradient(top, rgb(255, 97, 83), rgb(255, 97, 83));
    background-image: -ms-linear-gradient(top, rgb(255, 97, 83), rgb(255, 97, 83));
    background-image: -o-linear-gradient(top, rgb(255, 97, 83), rgb(255, 97, 83));
    background-image: linear-gradient(to bottom, rgb(255, 97, 83), rgb(255, 97, 83));;
    text-decoration: none;
}

li {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: left;
}

.map-active .container {
    /* so that clicks go through to the map! */
    pointer-events: none;
}

.note {
    padding: 10px;
    /*text-align: center;*/
    background-color: #ffeb3b;
}

#working-div {
    text-align: center;
}

br {
    clear: left;
}

.extraSpace {
    margin-top: 100px;
}

#done {
    cursor: pointer;
}

.map-active #controls {
    bottom: -145px;
}

.spinner {
    margin: 20px auto 0;
    width: 70px;
    /*text-align: center;*/
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

background.blur {
    width:100px;
    height:459px;
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

